<div class="header">
    <div class="wrapper">
        <div class="site-logo"></div>
        <ul id="menu">
            <li data-menuanchor="index"><a href="#index">Home</a></li>
            <li data-menuanchor="research"><a href="#research">Research</a></li>
            <li data-menuanchor="news"><a href="#news">News</a></li>
            <li data-menuanchor="publicationsawards"><a href="#publicationsawards">Publications & Awards</a></li>
            <li data-menuanchor="programs"><a href="#programs">Programs</a></li>
            <li data-menuanchor="contact"><a href="#contact">Contact us</a></li>
        </ul>
    </div>
</div>

<!--sidebar: start-->
<div class="nav-handle nav-handle-reverse">
    <span class="nav-handle-line-1"></span>
    <span class="nav-handle-line-2"></span>
    <span class="nav-handle-line-3"></span>
</div>
<div class="nav">
    <ul>
        <li data-menuanchor="index"><a href="#index">Home</a></li>
        <li data-menuanchor="research"><a href="#research">Research</a></li>
        <li data-menuanchor="news"><a href="#news">News</a></li>
        <li data-menuanchor="publicationsawards"><a href="#publicationsawards">Publications & Awards</a></li>
        <li data-menuanchor="programs"><a href="#programs">Programs</a></li>
        <li data-menuanchor="contact"><a href="#contact">Contact us</a></li>
    </ul>
</div>
<!--sidebar: end-->